#add-question {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 0 auto;
  margin-top: 10rem;
  max-width: 60rem;

  font-size: 2rem;
}

#add-question textarea {
  display: block;
}

.input-container {
  display: flex;
}
.input-container > textarea {
  flex: 1;
}

.add-answer-btn {
  margin-bottom: 5rem;
}

textarea {
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
}

button {
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: orangered;
  align-self: flex-start;
}
