.add-question {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;

  width: 30vh;
  margin-top: 15rem;

  font-size: 2rem;
}

/* .add-question input {
  display: inline-block;
} */

.input-container {
  display: flex;
}
.input-container > textarea {
  flex: 1;
}

.add-answer-btn {
  margin-bottom: 5rem;
}
