#login {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin: 0 auto;
  margin-top: 10rem;
  max-width: 60rem;

  font-size: 3rem;
}

#login button {
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: orangered;
  width: 50%;

  margin: 0 auto;
  margin-top: 8rem;
}
