#test {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 10rem;
  max-width: 60rem;

  font-size: 2rem;
}

#test footer {
  align-self: center;
}

footer button {
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: orangered;
}

.question {
  margin-top: 2rem;
}

.question__answers {
  margin-top: 1rem;
  list-style-type: none;
}

.question__answers input {
  margin-right: 0.5rem;
}

footer {
  margin-top: 5rem;
}

footer button {
  padding: 2rem 4rem;
  margin: 0.5rem;
}
